* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FFDBB5 !important;
}

a {
    color: #914F1E !important;
    font-weight: bolder;
}

body {
    background-image: url('./public/bg.jpg') !important;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: antiquewhite;
    padding: 5px;    
    margin: 10px;
}
.cardhome{
    height: 100%;
}

/* ADDBLOG  */
.addblog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    background-color: #8D493A;
    width: 110px;
    height: 35px;
    border: none;
}

.addblog:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: #ff2f00;
    transition: all 0.5s linear;
    font-size: 19px;
}

/* HOME  */

.cardimg {
    width: 100%;
    height: 180px;
    padding: 10px;
}

.desc {
    font-size: 12px;
}

.authorname {
    font-size: 15px;
}

.authorimg {
    border-radius: 50%;
    width: 44px;
    height: 42px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D493A;
    border: none;
    color: antiquewhite;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}

.eye,
.eyebtn {
    background-color: yellowgreen;
    border: none;
    transition: transform .5s;
    color: rgb(58, 87, 0);
}

.eye:hover,
.eye:hover .eyebtn {
    background-color: rgb(58, 87, 0);
    border: none;
    color: yellowgreen;
    transform: scale(1.5);
}

.edit,
.editbtn {
    background-color: yellow;
    border: none;
    color: rgb(87, 87, 0);
    transition: transform .5s;
}

.edit:hover,
.edit:hover .editbtn {
    background-color: rgb(87, 87, 0);
    border: none;
    color: yellow;
    transform: scale(1.5);
}

.delete,
.deletebtn {
    background-color: rgb(230, 97, 97);
    border: none;
    transition: transform .5s;
    color: rgb(104, 0, 0);
}

.delete:hover,
.delete:hover .deletebtn {
    background-color: rgb(104, 0, 0);
    border: none;
    color: rgb(230, 97, 97);
    transform: scale(1.5);
}

/* FORM  */

input {
    background-color: #ddbdb6 !important;
    border: none !important;
    color: #914F1E !important;
}

label {
    color: #153448 !important;
    font-size: 18px !important;
    font-weight: bolder;
}

h2 {
    color: #721703;
    border: 2px #ddbdb6 solid;
    width: 50%;
    margin-left: 25%;
    padding: 15px;
    border-radius: 50px;
}