* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #681820 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img {
    width: 350px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 300px !important;
    margin-bottom: 10px;
    border-radius: 10px;
}

.edit,
.editbtn {
    background-color: yellow;
    border: none;
    color: rgb(87, 87, 0);
    transition: transform .5s;
}

.edit:hover,
.edit:hover .editbtn {
    background-color: rgb(87, 87, 0);
    border: none;
    color: yellow;
    transform: scale(1.5);
}

.delete,
.deletebtn {
    background-color: rgb(230, 97, 97);
    border: none;
    transition: transform .5s;
    color: rgb(104, 0, 0);
}

.delete:hover,
.delete:hover .deletebtn {
    background-color: rgb(179, 7, 7);
    border: none;
    color: rgb(243, 127, 127);
    transform: scale(1.5);
}