* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.py {
    padding: 100px 0;
}

/* HEADER  */

header .top-header {
    padding: 20px 0;
    grid-gap: 10px;
    border-bottom: 1px solid #e9e9e9;
    z-index: 4;
}

header .top-header .cr-search .search-input {
    width: 600px;
    height: 45px;
    padding-left: 15px;
    padding-right: 175px;
    border: 1px solid #64b496;
    border-radius: 5px;
    outline: none;
}

header .top-header .cr-search .form-select {
    width: 130px;
    height: 43px;
    border: 0;
    top: 1px;
    right: 45px;
    font-size: 13px;
    border-left: 1px solid #64b496 !important;
    border-radius: 0;
}

header .top-header .cr-search .search-btn {
    width: 45px;
    background-color: #64b496;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 44px;
}

header .top-header .cr-search .search-btn {
    font-size: 14px;
    color: #fff;
}

header .top-header .cr-search .search-btn .search {
    font-size: 14px;
    color: #fff;
}

header .top-header .cr-right-bar ul.Dropdown {
    margin: auto;
}

header .top-header .cr-right-bar .cr-right-bar-item:not(:last-child) {
    padding-right: 30px !important;
}

header .top-header .cr-right-bar .nav-item a.nav-link {
    font-family: "Poppins, sans-serif";
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

header .top-header .cr-right-bar .nav-item .dropdown-toggle {
    transition: 0.3s ease-in-out;
}

header .top-header .cr-right-bar .nav-item .nav-link .user {
    padding-right: 5px;
    font-size: 21px;
    line-height: 17px;
}

.top-header .cr-right-bar .cr-right-bar-item {
    transition: 0.3s ease-in-out;
}

.top-header .cr-right-bar-item .heart,
.top-header .cr-right-bar-item .shopping {
    padding-right: 5px;
    font-size: 21px;
    line-height: 17px;
    color: #000;
}

.top-header .cr-right-bar .cr-right-bar-item span {
    transition: 0.3s ease-in-out;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #000;
}

/* HEADER 2 */
.section-breadcrumb .cr-breadcrumb-image {
    width: 100%;
    height: 70px;
    background-color: #e4f2ed;
}

.cr-breadcrumb-image .cr-breadcrumb-title h2 {
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    line-height: 1;
    color: #2b2b2d;
}

.cr-breadcrumb-image .cr-breadcrumb-title span {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: #7a7a7a;
    text-transform: capitalize;
}

.cr-breadcrumb-image .cr-breadcrumb-title span a {
    color: #64b496;
}

/* STYLE 1 */

section {
    padding-top: 100px;
}

.title {
    margin-bottom: 15px;
}

.title h2 {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    color: #2b2b2d;
}

.sub-title p {
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    line-height: 22px;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
}

.product-card {
    height: 100%;
    padding: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.product-card .product-card-img {
    border-radius: 5px;
}

.product-card .product-card-img .image-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.product-card .product-card-img .image-inner .img {
    width: 100%;
    border-radius: 5px;
}

.product-card .product-card-img .cr-side-view {
    z-index: 20;
    transition: all 0.4s ease-in-out;
    top: 15px;
    right: -40px;
}

.product-card:hover .product-card-img .cr-side-view {
    right: 12px;
    opacity: 1 !important;
}

.product-card .product-card-img .cr-side-view .wishlist {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card .product-card-img .cr-side-view .wishlist .heart {
    font-size: 18px;
    line-height: 10px;
}

.product-card .product-card-img .cr-side-view .model-oraganic-product {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card .product-card-img .cr-side-view .model-oraganic-product .eye {
    font-size: 18px;
    line-height: 10px;
}

.product-card .product-card-img .cr-shopping-bag {
    height: 35px;
    width: 35px;
    bottom: -16px;
    background: #f7f7f8;
    border: 1px solid #e9e9e9;
}

.product-card .product-card-img .cr-shopping-bag .bag {
    color: #64b496;
}

.product-card .cr-product-details {
    padding-top: 24px;
}

.product-card .cr-product-details .cr-brand a {
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    font-size: 13px;
    color: #777;
}

.product-card .cr-product-details .cr-brand .cr-star {
    margin-bottom: 12px;
}

.product-card .cr-product-details .cr-brand .cr-star .star {
    margin: 0 1px;
    font-size: 15px;
    color: #f5885f;
}

.product-card .cr-product-details .cr-brand .cr-star .rate {
    margin-left: 5px;
    color: #999;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
}

.product-card .cr-product-details a.title {
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #2b2b2d;
}

.product-card .cr-product-details .cr-price {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    color: #7a7a7a;
}

.product-card .cr-product-details .cr-price .new-price {
    color: #64b496;
    font-weight: 700;
}

.product-card .cr-product-details .cr-price .old-price {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: line-through;
}

/* STYLE 2 */
.product-card2 {
    height: 100%;
    padding: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.product-card2 .product-card2-img {
    border-radius: 5px;
}

.product-card2 .product-card2-img .image-inner2 {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.product-card2 .product-card2-img .image-inner2 .img {
    width: 100%;
    border-radius: 5px;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 {
    z-index: 20;
    transition: all 0.4s ease-in-out;
    top: 15px;
    right: -50px;
}

.product-card2:hover .product-card2-img .image-inner2 .cr-side-view2 {
    right: 12px;
    opacity: 1 !important;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .wishlist {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .heart {
    font-size: 18px;
    line-height: 10px;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .model-oraganic-product {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .model-oraganic-product .eye {
    font-size: 18px;
    line-height: 10px;
}

.product-card2 .product-card2-img .cr-shopping-bag2 {
    bottom: 12px;
    right: 12px;
    height: 35px;
    width: 35px;
    border: 1px solid #e9e9e9;
}

.product-card2 .product-card2-img .cr-shopping-bag2 .bag {
    color: #64b496;
}

.product-card2 .cr-product2-details {
    padding: 15px 15px 0 15px;
}

.product-card2 .cr-product2-details a {
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    line-height: 24px;
    color: #2b2b2d;
}

.product-card2 .cr-product2-details p.cr-product2-name {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
    line-height: 1.75;
}

.product-card2 .cr-product2-details .cr-star {
    margin-bottom: 12px;
}

.product-card2 .cr-product2-details .cr-star .star {
    margin: 0 1px;
    font-size: 15px;
    color: #f5885f;
}

.product-card2 .cr-product2-details .cr-price {
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.75;
    color: #7a7a7a;
}

.product-card2 .cr-product2-details .cr-price .new-price {
    color: #64b496;
    font-weight: 700;
}

.product-card2 .cr-product2-details .cr-price .old-price {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: line-through;
}

/* STYLE 4 */
.product-card4 {
    height: 100%;
    padding: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.product-card4 .product-card-img4 {
    border-radius: 5px;
}

.product-card4 .product-card-img4 .image-inner4 {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.product-card4 .product-card-img4 .image-inner4 .img {
    width: 100%;
    border-radius: 5px;
}

.product-card4 .product-card-img4 .cr-side-view4 {
    z-index: 20;
    transition: all 0.4s ease-in-out;
    top: 15px;
    right: -40px;
}

.product-card4:hover .product-card-img4 .cr-side-view4 {
    right: 12px;
    opacity: 1 !important;
}

.product-card4 .product-card-img4 .cr-side-view4 .wishlist {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card4 .product-card-img4 .cr-side-view4 .wishlist .heart {
    font-size: 18px;
    line-height: 10px;
}

.product-card4 .product-card-img4 .cr-side-view4 .model-oraganic-product {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card4 .product-card-img4 .cr-side-view4 .model-oraganic-product .eye {
    font-size: 18px;
    line-height: 10px;
}

.product-card4 .product-card-img4 .cr-shopping-bag {
    height: 35px;
    width: 35px;
    bottom: -50px;
    opacity: 0;
    background: #f7f7f8;
    border: 1px solid #e9e9e9;
    transition: all 0.4s ease;
}

.product-card4:hover .product-card-img4 .cr-shopping-bag {
    bottom: -16px;
    opacity: 1 !important;
}

.product-card4 .product-card-img4 .cr-shopping-bag .bag {
    color: #64b496;
}

.product-card4 .cr-product-details4 {
    padding-top: 24px;
}

.product-card4 .cr-product-details4 .cr-brand4 a {
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    font-size: 13px;
    color: #777;
}

.product-card4 .cr-product-details4 .cr-brand4 .cr-star4 {
    margin-bottom: 12px;
}

.product-card4 .cr-product-details4 .cr-brand4 .cr-star4 .star {
    margin: 0 1px;
    font-size: 15px;
    color: #f5885f;
}

.product-card4 .cr-product-details4 .cr-brand4 .cr-star4 .rate {
    margin-left: 5px;
    color: #999;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
}

.product-card4 .cr-product-details4 a.title {
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #2b2b2d;
}

.product-card4 .cr-product-details4 .cr-price {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    color: #7a7a7a;
}

.product-card4 .cr-product-details4 .cr-price .new-price {
    color: #64b496;
    font-weight: 700;
}

.product-card4 .cr-product-details4 .cr-price .old-price {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: line-through;
}

li {
    list-style: none;
}

/* FOOTER  */

footer {
    border-top: 1px solid #e9e9e9;
    padding-top: 100px;
    background-color: #f7f7f8;
}

footer::before {
    content: "";
    width: 70px;
    height: 60px;
    background-image: url('/public/shape-3.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -25px;
    right: 100px;
    z-index: 1;
}

footer::after {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url('/public/shape-12.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: -10px;
    z-index: 1;
}

footer .container::before {
    content: "";
    width: 120px;
    height: 60px;
    background-image: url('/public/shape-13.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 0;
}

footer .container .footer-top {
    z-index: 3;
    padding-bottom: 100px;
}

footer .container .footer-top .footer-logo .footer-image {
    padding-bottom: 15px;
}

footer .container .footer-top .footer-logo .footer-image img {
    width: 100px;
    display: block;
}

footer .container .footer-top .footer-logo .footer-content {
    font-size: 14px;
    margin-bottom: 0;
    list-style: none;
    color: #7a7a7a;
    line-height: 1.75;
}

.footer-content {
    text-align: left;
}

footer .container .footer-top .cr-footer .cr-footer-links {
    display: block;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
}

footer .container .footer-top .cr-footer .cr-footer-links .location-icon {
    margin-top: 24px;
    padding-left: 30px;
}

footer .container .footer-top .cr-footer ul li,
footer .container .footer-top .cr-footer ul li a {
    margin-bottom: 12px;
    font-size: 14px;
    text-decoration: none;
    line-height: 26px;
    color: #777;
}

footer .container .footer-top .cr-footer .cr-footer-links .location-icon .footerlocation,
footer .container .footer-top .cr-footer .cr-footer-links .mail-icon .footermail,
footer .container .footer-top .cr-footer .cr-footer-links .call-icon .footercall {
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    color: #64b496;
    top: 2px;
    left: 0;
    display: flex;
    align-items: center;
}

footer .container .footer-top .cr-footer .cr-footer-links .mail-icon,
footer .container .footer-top .cr-footer .cr-footer-links .call-icon {
    padding-left: 30px;
}

footer .container .footer-top .cr-footer .cr-footer-links .mail-icon:hover a,
footer .container .footer-top .cr-footer .cr-footer-links .call-icon:hover a {
    color: #64b496;
}

footer .container .footer-top .cr-footer .cr-sub-title {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: #000;
    margin-bottom: 15px;
}

.cr-sub-title {
    text-align: left;
}

footer .container .footer-top .cr-footer .cr-footer-links li:hover a {
    color: #64b496;
}

footer .container .footer-top .cr-footer .cr-footer-links .cr-search-footer {
    position: relative;
}

footer .container .footer-top .cr-footer .cr-footer-links .cr-search-footer input {
    width: 100%;
    height: 44px;
    padding: 5px 15px;
    border: 1px solid #e9e9e9;
    outline: none;
    border-radius: 5px;
}

footer .container .footer-top .cr-footer .cr-footer-links .cr-search-footer .search-btn {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

footer .container .footer-top .cr-footer .cr-footer-links .cr-search-footer .search-btn .plane {
    font-size: 21px;
    color: #000;
}

footer .container .footer-top .cr-footer .cr-social-media {
    margin: 22px -2px;
}

footer .container .footer-top .cr-footer .cr-social-media span {
    margin: 2px;
    font-family: "Poppins, sans-serif";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.625;
    color: #000;
}

footer .container .footer-top .cr-footer .cr-social-media span a {
    transition: all 0.3s ease-in-out;
    width: 35px;
    height: 35px;
    line-height: 11px;
    background-color: white;
    border: 1px solid #e1dfdf;
    border-radius: 5px;
    color: #000;
}

footer .container .footer-top .cr-footer .cr-social-media span a:hover {
    color: #64b496;
}

footer .container .footer-top .cr-footer .insta .img {
    width: 73.6px;
    margin-right: 12px;
    flex-shrink: 0;
}

footer .container .footer-top .cr-footer .insta .img img {
    width: 100%;
    border-radius: 5px;
}

footer .container .footer-top .cr-footer .insta .img a .overlay {
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

footer .container .footer-top .cr-footer .insta .img a:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

footer .container .footer-top .cr-footer .insta .img a .overlay::after {
    content: "";
    transition: all 0.3s ease-in-out;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

footer .container .footer-top .cr-footer .insta .img a:hover .overlay::after {
    opacity: 1;
}

footer .container .footer-bottom {
    padding: 20px 0;
    border-top: 1px solid #e9e9e9;
}

footer .container .footer-bottom p {
    font-size: 14px;
    color: #000;
    line-height: 1.2;
}

footer .container .footer-bottom p a {
    color: #64b496;
    text-decoration: none;
}